{% extends 'base.html' %} {% block page_title %}Post{% endblock %} {% block content %}


<section style="padding-top: 150px;" class="section section-blogpost blue-grey darken-4">
  <div class="container">
    <div class="row blog-detail-row">
      <h1 class="post-title loader white-text">{{post.title}}</h1>
      <img src="{{ post.author.profile.image.url }}" alt="" />
      {% if post.published_date %}
      <div class="date postdate white-text">
        {{ post.published_date }}
      </div>
      {% else %}
      <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish Post</a>
      {% endif %}
    </div>
    
    <div class="row blog-detail-row">
      <p class="postcontent">{{ post.text|safe|linebreaksbr }}</p>
    </div>
    
    <div class="row blog-detail-icons-row">
      {% if user.is_authenticated and user.is_superuser %}
      <a class="post-detail-icon btn-floating waves-effect waves-light blue-grey" href="{% url 'post_edit' pk=post.pk %}"><i class="material-icons">edit</i></a>
      <a class="post-detail-icon btn-floating waves-effect waves-light blue-grey" href="{% url 'post_remove' pk=post.pk %}"><i class="material-icons">delete</i></a>
      {% endif %}
      <a class="post-detail-icon btn-floating waves-effect waves-light blue-grey" href="{% url 'add_comment_to_post' pk=post.pk %}"><i class="material-icons">mode_comment</i></a>
    </div>

    {% if not post.comments.all %}
      <p>No Comments</p>
    {% else %}
    <div class="row">
      {% for comment in post.comments.all %}
        <div style="padding: 0!important;" class="col s12 m6 l4">
          <div class="comment-wrapper">
          <div class="comment-detail">
            <p>{{ comment.author }}</p>
            <p>{{ comment.create_date }}</p>
          </div>
          <p>{{ comment.text }}</p>
          {% if user.is_authenticated and user.is_superuser or comment.approved_comment %}
          {% if not comment.approved_comment %}
          <a class="post-detail-icon btn-floating btn-small waves-effect waves-light blue-grey" href="{% url 'comment_approve' pk=comment.pk %}"><i class="small material-icons">done</i></a>
          {% endif %}
          {% if user.is_authenticated and user.username == comment.author or user.is_superuser %}
          <a class="post-detail-icon btn-floating btn-small waves-effect waves-light blue-grey" href="{% url 'comment_remove' pk=comment.pk %}"><i class="material-icons">clear</i></a>
          {% endif %}
          {% endif %}
        </div>
        </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>
{% endblock %}



