{% extends 'base.html' %} {% block content %}

<!-- Slider -->
<div class="slider">
  <h2 class="shop-slider-title slider-title" style="color: #cfd8dc; font-family: 'Heebo', sans-serif;">GEAR UP TO CHANGE
    YOUR LIFE!</h2>
  <ul class="slides shop-slides">
    <li>
      <img class="slider-image" src="/static/img/equipment.jpg" />
    </li>
    <li>
      <img class="slider-image" src="/static/img/equipment2.jpg" />
    </li>
    <li>
      <img class="slider-image" src="/static/img/equipment3.jpg" />
    </li>
  </ul>
</div>

<!-- Search -->

<section id="search" class="section section-search blue darken-1 white-text center scrollspy blue-grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <form method="GET" action="{% url 'search' %}">
          <div class="input-field">
            <input name="q" id="search" type="search" required />
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>
      {% if request.GET.q %} Results for <b>{{ request.GET.q }}</b>
      {% endif %}
    </div>
  </div>
</section>

<!-- Product list -->

<section id="equipment" class="section section-plans scrollspy box blue-grey darken-4">
  <div class="container">
    <div style="display: flex; flex-wrap: wrap;" class="products-container">
      {% for product in products %}

      <div style="flex: 1;" class="">
        <a style="color: #607d8b;" href="{{product.get_absolute_url}}">
          <div style="    margin: 0.5rem 1rem 1rem 0!important;" class="card z-depth-0">
            <div class="card-image product-list-card-image">
              <img src="{{MEDIA_URL}}{{ product.image }}" />

            </div>
            <div style="padding: 15px 0!important;" class="card-content blue-grey darken-4">
              <span class="card-title">{{ product.name }}
              </span>
              <p class="product-description white-text">{{ product.description|truncatewords:20 }}</p>
              <h5 style="padding-top: 15px;" class="white-text">£ {{ product.price }}</h5>

            </div>
          </div>
        </a>

      </div>

      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}