{% extends 'base.html' %} {% load static %} {% block title %}shop {% endblock%} {% block content %}

<section id="search" class="section section-search blue darken-1 white-text center scrollspy blue-grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col s12 m7">
        <div>
          <a href="{% url 'shop' %}" class="waves-effect waves-light btn">Shop All</a>
          {% for category in links %}
          <a href="{{category.get_url}}" class="waves-effect waves-light btn">{{category.name}}</a>
          {% endfor %}
        </div>
        <div class="col s12 m5">
          <form method="GET" action="{% url 'search' %}">
            <div class="input-field">
              <input name="name" id="search" type="text" required />
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div>
        {% if request.GET.q %} Results for <b>{{ request.GET.q }}</b>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<section style="padding-top: 120px;" class="section section-products blue-grey darken-4">
  <div class="container">
    <div class="row">
      {% for product in products %}
      <div class="col s12 m4 l3">
        <div class="card">
          <div class="card-image">
            {% if product.image %}
            <img src="{{ product.image.url }}" />
            {% endif %} {% if product.stock <= 0 %}
            <p>OUT OF STOCK</p>
            {% else %}
            <a class="btn-floating halfway-fab waves-effect waves-light blue-grey darken-4" href="{% url 'add_cart' product.id %}"
              ><i class="material-icons">add</i></a
            >
            {%endif%}
          </div>
          <div class="card-content shop-card-content blue-grey lighten-1">
            <span class="card-title shop-card-title">{{product.name}}</span>
            <p class="white-text">
              {{product.description|truncatewords:20}}
            </p>
          </div>
        </div>
      </div>
      {%endfor%}
    </div>
  </div>
</section>
{% endblock%}

<!-- <form action="{% url 'search' %}" method="GET">
  <div class="input-field">
    <input type="text" name="title" />
    <div>
      <button><i class="materia-icons">search</i></button>
    </div>
  </div>
</form>

<form method="GET" action="{% url 'search' %}">
  <div class="input-field">
    <input name="title" id="search" type="text" required />
    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
    <i class="material-icons">close</i>
  </div>
</form> -->
