.meet-team h1{
  font-size: 2.5rem;
  margin: 100px 0px 45px 0px;
}

.person {
  width: 100%;
}

.person img {
  max-width: 100%;
}



.image-container {
  height: 25em;
  contain: content;
}

.image-container img {
  height: 100%;
}

.blog-title a {
  color: #cfd8dc;
}

.blog-title a:hover {
  color: #90a4ae;
}

.blog-display-addons {
  height: 25em;
  text-align: right;
}

.blog-display-addons span {
  width: 50%;
  color: #cfd8dc;
  font-size: 3rem;
  font-weight: 100;
}

.blog-additional-info h1 {
  line-height: 37px;
  font-size: 2rem;
  margin-top: 10px;
}

.bottom-line p {
  margin-top: 0;
}

.bottom-line a {
  color: #cfd8dc;
}

.bottom-line a:hover {
  color: #90a4ae;
}

.top-line p {
  text-transform: capitalize;
}


@media (min-width: 601px) {
  .person {
    display: block;
  }
  /* blog */
  .blog {
    width: 100%;
    margin: 0px 10px;
  }
  .blog-post {
    height: 25em;
    position: relative;
  }
  
  .blog-additional-info h1 {
    font-size: 2.4rem;
    margin-top: 30px;
  }
  
  .bottom-line {
    position: absolute;
    bottom: 0;
  }
}

@media (min-width: 993px) {
  .staff-wrapper {
    margin-top: 100px;
  }
  .meet-team {
    width: 85%;
    float: right;
  }

  .blog-additional-info h1 {
    line-height: 50px;
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  .blog {
    margin: 0px 300px;
  }
}


/* move to blog list */

.post-detail-icon {
  margin-right: 7px;
}

.post-detail-icon>i:hover {
  color: #263238;
  background-color: #b0bec5;
}

.comment-detail{
  display: flex;
}

.comment-detail>p{
  margin-right: 10px;
  text-transform: capitalize;
}

.comment-wrapper {
  background-color: #37474f;
  padding: 15px;
  border-radius: 20px;
  margin: 6px;
}

.comment-wrapper>a {
  margin-top: 10px;
}

