{% extends 'base.html' %} {% load static %} {% block content %}

<section style="padding-top: 200px;" class="section section-checkout blue-grey darken-4">
  <div style="padding-left: 100px;" class="row">
    <h3>Payment Details</h3>
    <div class="col s12 m8 blue-grey darken-4">
      <div class="checkout-progress-indicator">
        <div id="collapseStripe" class="wrapper">
          <form action="." method="post" id="payment-form">
            {% csrf_token %}
            <div class="form-row">
              {{ order_form }} {{ payment_form }}

              <!-- Used to display form errors. -->
              <div id="card-errors" role="alert"></div>
            </div>

            <button>Submit Payment</button>
          </form>
        </div>

        <div id="stripe-token-handler" class="is-hidden">
          <span class="token"></span>
          <input type="text" name="stripe_id" class="form-control" placeholder="None" required="" id="stripeToken" />
        </div>
      </div>
    </div>

    <div class="col s12 m4 blue-grey darken-3">
      {% for item in cart_items %}
      <div class="sum-info-wrapper">
        <div class="sum-img-container">
          <img src="{{MEDIA_URL}}{{ item.product.image }}" />
        </div>
        <div class="sum-info-container">
          <h6>{{ item.product.name }}</h6>
          <div class="sum-info">
            <p>{{ item.quantity }}</p>
            <p>{{ item.product.price }}</p>
          </div>
        </div>
      </div>

      {% endfor %}
      <div class="total">
        <p>Total</p>
        <p>£{{ total }}</p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
