{% extends 'base.html' %}



{% block page_title %}Login{% endblock %}

{% block content %}
<section class="section-signup">
    <div class="primary-overlay">
      <div class="container">
        <div class="form-wrapper">
          <div class="row">
            <div class="col s12 l6">
              <h2 style="color: #cfd8dc;" class="login-title">Sweet you're back, Let's get workin'!</h2>
            </div>
            <div class="col s12 l6">
              <form enctype="multipart/form-data" method="POST">
                <div class="contact-form card-panel blue-grey lighten-5 z-depth-5">
                  {% csrf_token %} {{ login_form }}
                </div>
                <input type="submit" value="Log  In" class="btn blue-grey send-message-btn" />
              </form>
              <div class="under-text">
                <p class="under-auth">Don't have an account?</li><a href="{% url 'register' %}">Register here.</a></p>
                <p class="under-auth">Forgot your password?</li><a href="{% url 'password_reset' %}">Reset it here.</a></p>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

    
{% endblock %}




