{% extends 'base.html' %} {% block page_title %}Register{% endblock %} {% block content %}
<section class="section-signup">
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <h4>Get a free account</h4>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam assumenda odit accusantium saepe, consequuntur mollitia?</p>
        <h4>Get access to our community</h4>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam esse tenetur temporibus officia voluptatem animi.</p>
        <h4>Shop our bestspoke excercise gear</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo consequatur qui deserunt dolor quidem temporibus!</p>
      </div>
      <div class="col s12 m6">
        <div class="card-panel grey lighten-4 grey-text text-darken-4 z-depth-0">
          <form enctype="multipart/form-data" method="POST">
            {% csrf_token %} {{ registration_form }}
            <input type="submit" value="Sign Up" class="btn-large purple btn-extend" />
          </form>
          <p>If you already have an account, <a href="{% url 'login' %}">login here</a>.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
