{% extends 'base.html' %} {% load static %} {% block title %}Cart{% endblock%} {% block content %}

<section style="padding-top: 150px; min-height: 80vh;" class="section section-shopping-cart blue-grey darken-4">
  <div class="container">
    <div class="col m8" style="margin-bottom: 10px; padding-left: 0;">
      <p class="flow-text white-text">Shopping Cart</p>
      <hr />
    </div>
    {% if not cart_items %}
    <div>
      <h5 class="center-align">Your Shopping Cart is empty</h5>
      <a href="{% url 'shop' %}">return to shop</a>
    </div>
    {% else %}
    <div class="row">
      <div class="col s12 m8">
        <table style="background: #455a6430;" class="">
          {% for cart_item in cart_items %}
          <tr>
            <td>
              <a href="cart_item.product.get_url">
                {% if product.image %}
                <img src="{{ cart_item.product.image.url }}" width="200" height="200" alt="" />
                {% endif %}
              </a>
            </td>
            <td>
              {{cart_item.product.name}}
              <br />

              Unit Price: £{{cart_item.product.price}}
              <br />
              Qty: {{cart_item.quantity}} x £{{cart_item.product.price}}
            </td>
            <td>
              £{{cart_item.sub_total}}
            </td>
            {% if cart_item.quantity < cart_item.product.stock %}
            <td>
              <a href="{% url 'add_cart' cart_item.product.id %}"><i class="material-icons white-text">arrow_drop_up</i></a>
              <a href="{% url 'cart_remove' cart_item.product.id %}"><i class="material-icons white-text">arrow_drop_down</i></a>
              <a href="{% url 'cart_delete' cart_item.product.id %}"><i class="material-icons white-text">delete</i></a>
            </td>
            {% else %}
            <a href="{% url 'cart_remove' cart_item.product.id %}"><i class="material-icons">remove</i></a>
            <a href="{% url 'cart_delete' cart_item.product.id %}"><i class="material-icons">delete</i></a>
            {% endif %}
          </tr>
          {% endfor %}
        </table>
      </div>
      <div class="col s12 m4">
        <table>
          <tbody>
            <tr>
              <td>
                Proceed with the payment
              </td>
            </tr>
            <tr>
              <td>
                total: £{{total}}
              </td>
            </tr>
          </tbody>
        </table>
        <div>
          <form method="POST">
            {% csrf_token %}
            <script
              src="https://checkout.stripe.com/checkout.js"
              class="stripe-button"
              data-label="Checkout"
              data-key="{{data_key}}"
              data-amount="{{stripe_total}}"
              data-name="uGoGirl"
              data-description="{{description}}"
              data-locate="auto"
              data-currency="gbp"
              data-shipping-address="true"
              data-billing-address="true"
            ></script>
            <a style="display: block;" href="{% url 'shop' %}" class="back-to-shop">Continue Shopping</a>
          </form>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</section>

{% endblock%}
