{% extends 'base.html' %} {% load static %} {% block content %}

<section style="padding-top: 300px !important;" id="plans" class="section section-plans blue-grey darken-4 white-text center scrollspy box">
  <div class="container">
    <h2 style="color: #cfd8dc;" class="choose-plan-title">CHOOSE A PLAN</h2>
    <div class="row">
      {% for object in object_list %}
      <div class="col s12 m4 box">
        <div class="card blue-grey lighten-5 z-depth-4">
          <div class="plan-card card-content">
            <h3>{{object.membership_type}}</h3>
            <h5>£{{ object.price }}/mo</h5>
            <div class="card-action">
              <ul>
                <li class="blue-grey-text">Lorem ipsum dolor sit amet.</li>
                <li class="blue-grey-text">Lorem ipsum dolor sit amet.</li>
                <li class="blue-grey-text">Lorem ipsum dolor sit amet.</li>
                <li class="blue-grey-text">Lorem ipsum dolor sit amet.</li>
              </ul>
              <form method="POST" action="{% url 'select' %}">
                {% csrf_token %} {% if object.membership_type != current_membership %}
                <a href="#starter" class="left-btn btn modal-trigger">See plan</a>
                <!-- <button>select</button> -->
                <button
                  style="font-family: 'Montserrat', sans-serif; font-size: 14px; font-weight: bold; letter-spacing: 0.5px;"
                  class="btn right-btn"
                  role="button"
                >
                  Select
                </button>
                {% else %}
                <a href="#starter" class="left-btn btn modal-trigger">See plan</a>
                <a class="btn right-btn disabled" role="button">Bought</a>
                {% endif %}
                <input type="hidden" name="membership_type" value="{{ object.membership_type }}" />
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- Starter Plan Modal -->
<div id="starter" class="modal">
  <div class="modal-content">
    <ul class="collection with-header z-depth-4">
      <li class="collection-header">
        <h5>Services</h5>
      </li>
      <li class="collection-item"><i class="material-icons left">check</i> Business Consultation</li>
      <li class="collection-item"><i class="material-icons left">check</i> Financial Analytics</li>
      <li class="collection-item"><i class="material-icons left">check</i> Security Services</li>
      <li class="collection-item"><i class="material-icons left">check</i> Marketing & Advertising</li>
      <li class="collection-item"><i class="material-icons left">check</i> Internet Services</li>
      <li class="collection-item"><i class="material-icons left">check</i> Accounting</li>
    </ul>
  </div>
  <div class="modal-footer">
    <a href="{% url 'checkout' %}" class="btn btn-success btn-extend" role="button">Checkout</a>
  </div>
</div>

<!-- Basic Plan Modal -->
<div id="basic" class="modal">
  <div class="modal-content">
    <ul class="collection with-header z-depth-4">
      <li class="collection-header">
        <h5>Services</h5>
      </li>
      <li class="collection-item"><i class="material-icons left">check</i> Business Consultation</li>
      <li class="collection-item"><i class="material-icons left">check</i> Financial Analytics</li>
      <li class="collection-item"><i class="material-icons left">check</i> Security Services</li>
      <li class="collection-item"><i class="material-icons left">check</i> Marketing & Advertising</li>
      <li class="collection-item"><i class="material-icons left">check</i> Internet Services</li>
      <li class="collection-item"><i class="material-icons left">check</i> Accounting</li>
    </ul>
  </div>
  <div class="modal-footer">
    <a href="{% url 'checkout' %}" class="btn btn-success btn-extend" role="button">Checkout</a>
  </div>
</div>

<!-- Pro Plan Modal -->
<div id="pro" class="modal">
  <div class="modal-content">
    <ul class="collection with-header z-depth-4">
      <li class="collection-header">
        <h5>Services</h5>
      </li>
      <li class="collection-item"><i class="material-icons left">check</i> Business Consultation</li>
      <li class="collection-item"><i class="material-icons left">check</i> Financial Analytics</li>
      <li class="collection-item"><i class="material-icons left">check</i> Security Services</li>
      <li class="collection-item"><i class="material-icons left">check</i> Marketing & Advertising</li>
      <li class="collection-item"><i class="material-icons left">check</i> Internet Services</li>
      <li class="collection-item"><i class="material-icons left">check</i> Accounting</li>
    </ul>
  </div>
  <div class="modal-footer">
    <a href="{% url 'checkout' %}" class="btn btn-success btn-extend" role="button">Checkout</a>
  </div>
</div>
{% endblock %}
