{% extends 'base.html' %} {% block page_title %}Home{% endblock %} {% block content %}

<header class="main-header">
  <div class="primary-overlay">
    <div class="showcase container">
      <div class="row">
        <div class="col s12 main-text">
          <h1>BECOME A PROFESSIONAL BODY BUILDER</h1>
          <p class="flow-text">
            Female only body-builders community, offering a nieche to train, meet people in the industry, compete and receive advice and coutching
            from our body building gurus and nutritionists.
          </p>
          <br />
          <div class="button-holder">
            <a href="{% url 'select' %}" class="btn btn-large white-text blue-grey darken-1 waves-light">GET PUMPING</a>
          </div>
          <a class="scroll-icon" href="#features">
            <i class="material-icons medium white-text">arrow_drop_down_circle</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="features" class="section-boxes center scrollspy">
  <div class="row">
    <div class="col s12 m6 l3 blue-grey darken-3 white-text box choose-options-box">
      <i class="material-icons medium">fitness_center</i>
      <h4><a href="{% url 'select' %}" class="white-text">Choose Your Plan</a></h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam corrupti doloribus delectus consectetur exercitationem? Dicta nihil quia error
        enim consequatur, harum esse accusantium eveniet omnis!
      </p>
    </div>
    <div class="col hide-on-small-only m6 l3 blue-grey darken-2 white-text box choose-options-box">
      <i class="material-icons medium">sports</i>
      <h4><a href="{% url 'select' %}" class="white-text">Coutching</a></h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam corrupti doloribus delectus consectetur exercitationem? Dicta nihil quia error
        enim consequatur, harum esse accusantium eveniet omnis!
      </p>
    </div>
    <div class="col hide-on-small-only s12 m6 l3 blue-grey darken-1 white-text box choose-options-box">
      <i class="material-icons medium">supervisor_account</i>
      <h4>Join Community</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam corrupti doloribus delectus consectetur exercitationem? Dicta nihil quia error
        enim consequatur, harum esse accusantium eveniet omnis!
      </p>
    </div>
    <div class="col s12 m6 l3 blue-grey white-text box choose-options-box">
      <i class="material-icons medium">shopping_basket</i>
      <h4>Gear Up</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam corrupti doloribus delectus consectetur exercitationem? Dicta nihil quia error
        enim consequatur, harum esse accusantium eveniet omnis!
      </p>
    </div>
  </div>
</section>

<!-- About -->
<section id="about" class="section section-about blue-grey darken-4 scrollspy">
  <div class="container">
    <div style="position: relative;" class="row about-row">
      <div class="col s12 m6 about-mobile-text">
        <h2 style="color: #cfd8dc;" class="about-title">WE WILL HELP YOU TO REACH YOUR GOALS IN YOUR TIME</h2>
        <p class="about-text white-text">
          <em>
            Female bodybuilding and physique training is a pretty neat subculture and one that’s often misunderstood. Like anyone who pursues a
            passion, these women just choose something that many others will never understand but that also takes over their entire lives. Our goal is
            to be there for them every step of the way, providing them with support, inspiration, community and professional advice/training in order
            to turn their hobby into a life long career.</em
          >
        </p>
      </div>
      <div class="col s12 m5 offset-1 about-mobile-image">
        <img class="" src="/static/img/img5.jpg" alt="" />
      </div>
    </div>
  </div>
</section>

<!-- slider -->
<div class="slider">
  <h2 class="slider-title" style="color: #cfd8dc; font-family: 'Heebo', sans-serif;">WHAT MAKES US PERFECT FOR YOUR GOALS?</h2>
  <ul class="slides">
    <li>
      <img class="slider-image" src="static/img/img6.jpg" />
    </li>
    <li>
      <img class="slider-image" src="static/img/img7.jpg" />
    </li>
    <li>
      <img class="slider-image" src="static/img/img8.jpg" />
    </li>
  </ul>
</div>

<!-- Section services -->
<section class="section section-services blue-grey darken-4 white-text center">
  <div class="container services-container">
    <div class="row">
      <div class="col s12 m6 box service">
        <h5 class="service-title">Something We Do</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem omnis suscipit dicta quasi perferendis odit ullam culpa excepturi beatae,
          voluptatibus saepe. Quidem voluptates fuga ipsa rerum consequuntur eaque alias corrupti!
        </p>
      </div>
      <div class="col s12 m6 box service">
        <h5 class="service-title">Something We Do</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem omnis suscipit dicta quasi perferendis odit ullam culpa excepturi beatae,
          voluptatibus saepe. Quidem voluptates fuga ipsa rerum consequuntur eaque alias corrupti!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6 box service">
        <h5 class="service-title">Something We Do</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem omnis suscipit dicta quasi perferendis odit ullam culpa excepturi beatae,
          voluptatibus saepe. Quidem voluptates fuga ipsa rerum consequuntur eaque alias corrupti!
        </p>
      </div>
      <div class="col s12 m6 box service">
        <h5 class="service-title">Something We Do</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem omnis suscipit dicta quasi perferendis odit ullam culpa excepturi beatae,
          voluptatibus saepe. Quidem voluptates fuga ipsa rerum consequuntur eaque alias corrupti!
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Contact -->
<section id="contact" class="section section-contact blue-grey darken-4 scrollspy">
  <div>
    <div class="container">
      <div class="row">
        <div class="contact-text col s12 m6">
          <h2 style="color: #cfd8dc;" class="contact-form-title">HAVE QUESTIONS? GET IN TOUCH!</h2>
        </div>
        <div style="padding: 0 !important;" class="col s12 m6">
          <form enctype="multipart/form-data" method="POST">
            <div class="contact-form card-panel blue-grey lighten-5 z-depth-5">
              {% csrf_token %} {{ contact_form}}
            </div>
            <input type="submit" value="Send  Message" class="btn blue-grey send-message-btn" />
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
